/* Imported Google Font styles */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;700&display=swap');

/* Overwrite browser default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    padding: 20px;
    flex-direction: column;
    font-family: "Chakra Petch", sans-serif;
    text-align: center;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}

/* General Div Container styling */
.container {
    background-color: #7D80DA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    border-style: solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    text-align: center;
}
/* General button styling */
button {
    background: #fff;
    padding: 3px;
    margin: 10px 0;
    border-radius: 2px;
    font-family: "Chakra Petch", sans-serif;
    cursor: pointer;
}

button:hover {
    border: 2px solid #ddd;
}

.answer-btn {
    width: 100%;
}

/*
* Setting initial display for Welcome div modal
*/
#welcome-container {
    display: none;
    position: fixed;
    margin: 10px;
}

/*
* Setting initial display for Final Score div modal
*/
#final-score-container {
    display: none;
    margin-top: auto;
}

#score-display {
    margin-top: auto;
}

/* Footer */

footer {
    margin-top: auto;
}

/*
* Correct and incorrect answer button styling
*/

@media screen and (min-width: 375px) {
    .correct-answer {
        background-color: #3AB795;
    }

    .incorrect-answer {
        background-color: #AC3931;  
    }
}

@media screen and (min-width: 768px) {
    #welcome-container {
    /* Margin top and left to center both vertical and horizontal */
    top: 50%;
    left: 50%;
    /* Center within parent element */
    transform: translate(-50%, -50%);
    /* Same as the body's max-width */
    max-width: 1440px;
    width: auto;
    }

    .correct-answer {
        background-color: #3AB795;
    }
    
    .incorrect-answer {
        background-color: #AC3931;
    }
}